@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}



body {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

section,
footer {
  padding: 0rem 10rem 10rem 10rem;
  overflow-x: hidden;
}

footer {
  padding-bottom: 2rem;
  padding-top: 8rem;
  background-color: #0038FF;

}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  overflow: hidden;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 3rem 10rem; */
  padding-bottom: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-top: 40px solid #0038FF;
  border-bottom: 30px solid #0038FF;
  background-color: #fff;
}

nav::before {
  content: "Best way to fly safe";
  position: absolute;
  bottom: -4rem;
  left: 25rem;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #F5F5F5;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8rem;

}

#menu-icon {
  display: none;
  color: #0038FF;
  /* z-index: 10001; */
  z-index: 10;
  cursor: pointer;
  font-size: 2.3rem;
  margin-right: 10rem;
  margin-top: 2rem;
}

.logo-box {
  border-top: 40px solid #fff;
  border-radius: 0rem 4.5rem 0rem 0rem;
  background: #FFF;
  margin-top: -5rem;
  width: 30%;
}

.logo {
  width: 20rem;
  margin-left: 10rem;
  padding-top: 2rem;
  /* margin-right: 8rem; */
}

.nav-list {
  display: flex;
  align-items: center;
  border-top: 30px solid #fff;
  margin-right: 10rem;
}

.nav-item:not(:last-child) {
  margin-right: 8rem;
}

.nav-link {
  color: #0038FF;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  display: inline-block;
  transition: color .5s ease;
}

.nav-link:hover {
  color: #000000;
}

.hero {
  padding: 23rem 10rem;
  background: url(img/hero.png), lightgray 50% / cover no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

.book-box {
  display: flex;
  justify-content: space-between;
}

.book {
  width: 30%;
  display: flex;
  align-items: center;
  border: 3px solid #0038FF;
  padding: 2rem;
}

.book p {
  color: #1F1F1F;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

}

.book img {
  margin-right: 3.3rem;
}

.heading-box {
  text-align: center;
  border-radius: 3.5rem;
  border: 5px solid #0038FF;
  margin-top: 3.8rem;
  padding: 5rem 3rem;
}

.heading-box img {
  margin-top: -10rem;
  animation: moveBackAndForth 2s linear infinite;
}

@keyframes moveBackAndForth {
  0% {
    margin-left: 0;
  }

  50% {
    margin-left: 20px;

  }

  100% {
    margin-left: 0;
  }
}

.heading-box h1 {
  color: #0038FF;
  font-size: 9.6rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 11.808rem;
  margin-left: 20rem;
  margin-top: -5rem;
}

.heading-box p {
  color: #0038FF;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  margin-left: 20rem;
}

.feature-box {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature {
  width: 30%;
  height: 60px;
  padding-top: 1rem;
}


.feature:not(:last-child) {
  border-right: 6px solid #0038FF;

}

.feature p {
  color: #0038FF;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}


/* Section focus */
.focus {
  position: absolute;
  left: 16rem;
  z-index: 1;
  margin-top: -4rem;
  border-radius: 4rem 4rem 0rem 0rem;
  background: rgba(1, 1, 1, 0.50);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 1rem 7.1rem 1.2rem 7.1rem;
}

.focus-text {
  border-radius: 1.3rem;
  background: #FAFAF9;
  padding: 1.7rem 4rem 1.1rem 4rem;
  text-align: center;
}

.focus-text p {
  color: #0038FF;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.about {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.mission {
  width: 30%;

}

.mission h3 {
  color: #0038FF;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.mission p {
  color: #000;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.help h2 {
  color: #0038FF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  margin-bottom: 1.2rem;
}

.help p {
  color: #000;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 173.023%;
  /* 4.1525rem */
}

.help p span {
  color: #0038FF;
}

.trip h2 {
  color: #1F1F1F;
  font-family: Inter;
  font-size: 4rem;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  position: relative;
  margin-left: 8rem;
  margin-bottom: 2.8rem;
}

.trip h2::before {
  content: "";
  width: 8.7rem;
  height: 1.2rem;
  background-color: #0038FF;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -9rem;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer h2 {
  color: #000;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4rem;
}

.contact {
  width: 30%;
}

.footer ul {
  width: 30%;
}

.footer p,
.footer li,
.footer a {
  color: #FFF;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration: none;
}

.footer li:not(:last-child) {
  margin-bottom: 1rem;
}

.copy p {
  color: #000;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.72rem;
  margin-top: 6rem;
  text-align: center;
}

div:where(.swal2-container) h2:where(.swal2-title) {
  font-size: 2.2rem;
}

div:where(.swal2-container) .swal2-html-container {
  font-size: 1.3rem;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  background-color: #0038FF;
}

div:where(.swal2-container) div:where(.swal2-popup) {
  width: 44em !important;
}


.explore {
  background-color: #fff;
  color: #000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 1rem;
  z-index: 30;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  padding: 2rem 4rem;
}

.explore-box {
  display: flex;
  justify-content: space-between;
}

.explore-box:not(:last-child) {
  margin-bottom: 3rem;
}

.explore-box img {
  width: 46%;
}

.closet {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  border: none;
  background: none;
  color: #333;
  font-size: 4rem;
  cursor: pointer;
}

.omalay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1px);
  z-index: 25;
}


.hidden {
  display: none;
}